:root{
    --main_color: hsl(226, 90%, 58%);
    --back_color: hsl(227, 82%, 96%);
}
@font-face {
    font-family: Austin;
    src: url(fonts/Austin.ttf);
}
@font-face {
    font-family: Faustina;
    src: url(fonts/Faustina-Regular.ttf);
}
@font-face {
    font-family: Forbes;
    src: url(fonts/Forbes-Regular.ttf);
}
  
body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--back_color);
}
#mint{
    font-family: Austin,sans-serif;
    color: var(--main_color);
    font-size: 25px;
    font-weight: bolder;
}
#eco{
    font-family: Faustina,sans-serif;
    color: var(--main_color);
    font-size: 20px;
}
.forbes{
    font-family: Forbes,sans-serif;
    color: var(--main_color);
    font-size: 23px;
    font-weight: lighter;
}
.Des{
    display: none;
}
#times{
    font-family: 'Times New Roman', Times, serif;
    color: var(--main_color);
    font-size: 23px;
}
header{
    height: 80px;
    color: var(--main_color);
    background-color: var(--back_color);
    display: flex;
    justify-content: space-between;
}
header *{
    margin: auto 10px;
}
#head2{
    display: none;
}
.container {
    display: inline-block;
    cursor: pointer;
} 
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: hsl(226, 90%, 58%);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
}
#content{
    text-align: center;
    background-color: var(--main_color);
    color: white;
    margin-top: -20px;
}
#content-Desktop{
    display: none;
}
#heading{
    padding: 30px 0;
    text-align: left;
}
#heading *{
    margin: 20px;
}
#heading p{
    color: var(--back_color);
}
#image{
    width: 100%;
    height: 440px;
    background-image: url("images/pic1.png") ;
    background-size: cover;
}
.basebtn{
    width: 100%;
    height:100px;
}
.basebtn button{
    width: 90%;
    height: 45px;
    border: 0;
    color: var(--main_color);
    margin-top: 20px;
    border-radius: 2rem;
    background-color: white;
    font-size: medium;
}
#feature{
    text-align: center;
}
.flexed{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
#round{
    height: 350px;
    background-image: url("images/pic2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#para{
    text-align: center;
    padding: 22px;
}
#para *{
    margin: 20px 10px;
}
#tabs{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#tabs button{
    width: 25%;
    max-width: 150px;
    height: 30px;
    border: none;
    border-radius: 2rem;
}
ul{
    line-height: 1.6;
    padding-left: 20px;
    list-style-image: url('images/tick.png') ;
}
li {
    margin-top: 15px;
}
li::before{
    padding-right: 10px;
}
#hideme{
    display: none;
}
#pic2{
    height: 400px;
    background-image: url("images/pic3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -4px;
    border-radius: 3rem;
}
.card{
    background-color: white;
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
    border-radius: 1rem;
    margin-top: 15px;
}
.card button{
    width: 90%;
    height: 45px;
    border-radius: 2rem;
    border: none;
    background-color: var(--main_color);
    color: white;
    font-size: 16px;
}
.call{
    width: 40px;
    height: 40px;
    background-image: url(images/call.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--back_color);
    border-radius: 50%;
    padding: 2px;
    margin-left: 15px;
}
.info{
    display: flex;
}
.info div{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.wred{
    background-color: var(--main_color);
    color: white;
}
.wblue{
    background-color: white;
    color: black;
}
#Courses{
    display: none;
}
#Consult{
    display: none;
}
.swiper{
    background-color: white;
    width: 90%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 1rem;
    margin-left: 1.5rem;
}
.test1{
    display: none;
}
.test2{
    display: none;
}
.Rustom{
    width: 70px;
    height: 70px;
    background-image: url("images/pic5.png");
    background-size: cover;
    margin: 0 auto;
}
#getapp{
    background-color: var(--main_color);
    color: white;
    text-align: center;
}
#devices{
    height: 300px;
    background-image: url("images/getapp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -2px;
}
#semi{
    position: relative;
    left: 50%;
    transform: translate(-50%, 30%);
    height: 200px;
    width: 100%;
    border-radius: 200px 200px 0 0;
    background-color: var(--main_color);
    color: white;
    text-align: center;
    padding-top: 80px;
    z-index: -1;
}
.emage{
    background-color: var(--back_color);
    width:52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.lastcard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
#footer{
    text-align: center;
    background-color: var(--main_color);
    color: white;
    padding: 10px;
}
hr{
    width: 90%;
}

@media screen and (min-width: 650px){ 

    #content{
        display: none;
    }
   #content-Desktop{
        display: flex;
        height: 550px;
        background-color: var(--main_color);
        color: white;
        text-align: center;
   }
   #Desk{
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        padding-left: 10%;
        text-align: left;
   }
   #imaged{
        flex: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main_color);
   }
   #small{
    width: 80%;
    height: 80%;
    background-image: url("images/pic1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -2px;
   }
   .basebtn button{
        width: 60%;
    }
    #headingd{
        margin: 0 50px;
    }
    .basebtn{
        width: 80%;
        margin: 0 50px;
    }
    header{
        display: none;
    }
    #head2{
        display: flex;
    }
    #head2 div{
        color: black;
        display: flex;
    }
    #hideme{
        display: block;
    }
    .flexed{
        justify-content: center;
        column-gap: 2rem;
    }
    .Des{
        display: block;
        font-size: 18px;
        font-weight: lighter;
    }
    .Sed{
        flex-direction: row-reverse;
    }
    #para{
        margin: 0 10%;
    }
    #Community{
        display: flex;
    }
    #commu{
        flex: 50%;
        padding: 10px;
        margin-left: 10%;
        margin-right: 5%;
    }
    #nity{
        flex: 50%;
    }
    #chg{
        background-color: var(--main_color);
        color: white;
    }
    .card{
        max-width: 315px;
    }
    .test1{
        display: block;
    }
    video{
        width: 650px;
    }
    #devices{
        width: 100%;
        height: 500px;
        background-image: url("images/getapp.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: -4px;
        position: relative;
        left:18%;

    }
    #semi{
        position: relative;
        left: 50%;
        transform: translate(-50%, 75%);
        height: 600px;
        width: 100%;
        border-radius: 600px 600px 0 0;
        background-color: var(--main_color);
        color: white;
        text-align: center;
        padding-top: 80px;
        z-index: -1;
        margin-top: -20%;
    }
    #getapp{
        border-radius: 400px 400px 0 0;
        display: flex;
        flex-direction: column-reverse;
        background-position: center;
        align-items: center;
    }
    #getapp button{
        width: 50%;
    }
    hr{
        display: none;
    }
    #footer>img{
        width: 30%;
    }
}
@media screen and (min-width: 1100px){
    .test2{
        display: block;
    }
}